body {
  background-image: linear-gradient(0deg, white, #E8E8E8);
}

* {
  /*border-style: solid;*/
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: relative;
  width: 100%;
}

#splash {
  display: inline-block;
}

h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -17px;
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-family: 'Poiret One', cursive;
}

a {
  color: white;
}

.navigation ul {
  text-align: center;
  padding: 15px 50px 10px 50px;
}

.navigation ul li {
  padding: 9px 50px 10px 50px;
  list-style: none;
  display: inline-block;
  background: rgba(135, 136, 117, 0.9);
  border-radius: 3px;
  color: white;
}

.navigation ul li:hover {
  transition: 0.5s;
  background: rgb(200, 180, 133);
}

.article {
  margin: 0px 15px 50px;
  height: auto;
  font-size: 18px;
}

.article li {
  list-style: lower-greek;
  padding: 10px 30px 10px;
  list-style-position: inside;
  text-indent: -1em;
}

.article li:hover {
  transition: 0.25s;
  background-color: grey;
  color: white;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
  background-color: #242729
}

.videos {
  display: inline-block;
  text-align: center;
  height: 500px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#youtubevideo {
  width: 30%;
  height: 50%;
  padding: 10px;
}

#tsandcs {
  font-size: 10px;
  padding-top: 11px;
}

.maplocation {
  margin-top: 50px;
  text-align: center;
}
